<section class="banner">
	<div class="banner-layer">
		<div class="container">
			<div class="row agile_banner_info">
				<div class="col-md-7 agile_banner_margin">
					<h5>Chào các bạn đã đến với Website của mình</h5>
					<h2>Mình tên :<span>Minh</span></h2>

					<h4>Mình là một Web Developer</h4>
					<p>"Đây là một trang web khá đơn giản về mặt hình thức, mình lập nên trang web này với mục đích là để chia sẻ thông tin của bản thân, quá trình học tập cũng như các project mình đã từng làm qua."</p>
				</div>
				<div class="col-md-5 image_margin">
					<img src="images/img (3).JPG" alt="" class="img-fluid" style="    max-width: 100%;
					height: 522px;
					border-radius: 81%;
				" />
				</div>
			</div>
		</div>
	</div>
</section>