<section class="blog py-5" id="blog">
	<div class="container py-3">
		<h3 class="heading">Blog</h3>
		<div class="row blog-grids">
			<div class="col-lg-7">
				<h4 class="left-grid-blog">I write beautiful things</h4>
				<p class="left-grid-blog">Nulla viverra pharetra sem, eget pulvinar neque pharetra ac int. lorem ipsum Vestibulum. placerat placerat dolor.
				Vestibulum at dui nunc.</p>
				<div class="row">
					<div class="col-md-6 pr-md-0 w3ls">
						<div class="blog-grid1">
							<h5>25th June</h5>
							<h4>Eget pulvinar neq </h4>
							<p>Nulla viverra pharetra sem, eget pulvinar neque pharetra ac int.</p>
						</div>
					</div>
					<div class="col-md-6 mt-md-0 mt-3 w3ls">
						<div class="blog-grid1">
							<h5>25th June</h5>
							<h4>Eget pulvinar neq </h4>
							<p>Nulla viverra pharetra sem, eget pulvinar neque pharetra ac int.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 mt-lg-0 mt-5 blog-grid1 w3ls">
				<h5>25th June</h5>
				<h4>Eget pulvinar neque pharetra </h4>
				<p>Nulla viverra pharetra sem, eget pulvinar neque pharetra ac int. lorem ipsum Vestibulum. placerat placerat dolor.
				Vestibulum at dui nunc. eget pulvinar neque pharetra ac int. In euismod faucibus quam. placerat placerat dolor. Nullam
				eu elit neque lectus. Polite sadipscing elitr, sed diam nonumy eirmod.</p>
			</div>
		</div>
	</div>
</section>