<section class="contact py-5" id="contact">
	<div class="container py-3">
		<h3 class="heading">LIÊN HỆ</h3>
		<div class="row contact-grids">
			<div class="col-lg-5 contact-left">
				<h4 class="mb-4">Thông Tin Cá Nhân</h4>
				<div class="row">
					<div class="col-1 pr-0 icon">
						<i class="fa fa-envelope-open" aria-hidden="true"></i>
					</div>
					<div class="col-11">
						<h5>Email</h5>
						<p>Mail Cá Nhân:<a href="mailto:example@email.com"> minh072710@gmail.com</a></p>
						<p>Mail Sinh Viên:<a href="mailto:example1@email.com"> </a>minh.ng2419@sinhvien.hoasen.edu.vn</p>
					</div>
					<div class="col-1 pr-0 icon mt-4">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<div class="col-11 mt-4">
						<h5>Số Điện Thoại:</h5>
						<p>(+94)0947171598</p>
					</div>
					<div class="col-1 pr-0 icon mt-4">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="col-11 mt-4">
						<h5>Địa Chỉ Liên Hệ: </h5>
						<p>Three O'Clock</p>
						<p>462 Nguyễn Thị Minh Khai, P. 2, Quận 3, TP. HCM.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-7 mt-lg-0 mt-5 contact-right">
				<h4 class="mb-4">Gửi Mail Cho Tôi:</h4>
				<form action="#" method="post" action="./cu">
					<label><i class="fa mr-2 fa-user" aria-hidden="true"></i>Họ Tên Của Bạn</label>
					<input onkeyup="expression()" type="text" id="name" name="Name" required="">
					<span id="errname" class="text-danger font-weight-bold"></span>
					<div class="clearfix"></div>
					<label><i class="fas mr-2 fa-envelope-open" aria-hidden="true"></i>Email Của Bạn</label>
					<input onkeyup="expression()" type="email" id="email" name="Email"   required="">
					<span id="erremail" class="text-danger font-weight-bold"></span>

					<div class="clearfix"></div>
					<label><i class="fas mr-2 fa-phone" aria-hidden="true"></i>Số Điện Thoại</label>
					<input onkeyup="expression()" type="text" id="phone" name="Phone"  required="">
					<span id="errphone" class="text-danger font-weight-bold"></span>

					<div class="clearfix"></div>
					<label><i class="fas mr-2 fa-edit" aria-hidden="true"></i>Lời Nhắn Với Tôi</label>
					<textarea onkeyup="expression()" style="    margin-top: 89px;"name="Message"  id="ckeditor"  required=""></textarea>
					<span id="errmessage" class="text-danger font-weight-bold"></span>

					<button type="button" class="btn btn-dark" style="    margin-top: 20px;
					margin-left: 360px;
					width: 110px;
				">Gửi</button>
				</form>
			</div>
		</div>
	</div>
	
</section>