<section class="experience py-5" id="experience">
	<div class="container py-3">
		<h3 class="heading">Kinh Nghiệm</h3>
		<div class="row exp-grids">
			<div class="col-md-3 exp wthree">
				<h4>WORDPRESS</h4>
				<h5>11/02/2019  - 08/03/2019</h5>
			</div>
			<div class="col-md-9 mt-md-0 mt-4 wthree">
				<ul>
					<li>Đây là khoảng thời gian thực tập nhận thức, lúc mà tôi xác định được hướng đi trong ngành lập trình và chuyển hoàn toàn thời gian để tìm hiểu vể Web.</li>
					<li>Tôi được anh hướng dẫn giao cho cập nhật các Website bằng CMS WORDPRESS và đây cũng chính là những Website đầu tiên tôi làm.</li>
					<li>Số Websites đã làm và cập nhật: 8 Website Nails Salon.</li>
				  </ul>			</div>
		</div>
		<div class="row exp-grid1 mt-5 wthree">
			<div class="col-md-9 mb-md-0 mb-4">
				<ul>
					<li>Tìm hiểu HTML & CSS cơ bản thông qua các clip turtorials trên youtube.</li>
					<li>Lập trình trang Web đọc báo và bán hàng bằng PHP thuần.</li>
					<li>Lập trình trang Web đọc báo bằng PHP sử dụng Laravel FrameWork.</li>
				  </ul>					</div>
			<div class="col-md-3 exp1 wthree">
				<h4>PHP</h4>
				<h5>9/3/2019 - 9/9/2019</h5>
			</div>
		</div>
		<div class="row exp-grids mt-5 wthree">
			<div class="col-md-3 exp">
				<h4>NODEJS</h4>
				<h5>27/10/2019 - 30/12/2020</h5>
			</div>
			<div class="col-md-9 mt-md-0 mt-4 wthree">
				<ul>
					<li>Đây là khoảng thời gian tôi bắt đầu tìm hiểu qua một ngôn ngữ làm Web mới(ngôn ngữ Javascript), tôi nghiên cứu 
						và sử dụng NodeJS để viêt các API và code phía server. Đối với client, tôi sử dụng EJS Framework để render ra các trang 
						HTML. Đây cũng là project môn học đầu tiên mà tôi tự xây dựng cho mình, thiết kế Data, giao diện, các API,... 
					</li>
					<li>Sau project này tôi cảm thấy khả năng lập trình và tư duy của mình dần được cải thiện hơn, học được rất nhiều thứ mới về 
						
						javascript trong qua trình va chạm đồ án. 
					</li>
				  </ul>					</div>
		</div>
		<div class="row exp-grid1 mt-5 wthree">
			<div class="col-md-9 mb-md-0 mb-4">
				<ul>
					<li>Coffee</li>
					<li>Tea</li>
					<li>Milk</li>
				  </ul>					</div>
			<div class="col-md-3 exp1 wthree">
				<h4>ANGULARJS</h4>
				<h5>2019 - 2020</h5>
			</div>
		</div>
	</div>
</section>