<footer class="py-5">
	<div class="container">
		<div class="agileinfo-grids">
			<div class="agile-grid-left agile-grid-right text-center">
				<div class="social mb-4">
					<ul>
						<li><a href="#"><i class="fab mr-2 fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-vk"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright text-center">
			<p>© 2018 Personal View. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
		</div>
	</div>
</footer>