<div class="gallery py-5" id="projects">
    <div class="container py-3" style=" background-image: url(https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif);">
    <h3 class="heading" id="blog" style="color: aliceblue;">Sản Phẩm Đã Làm</h3>
    <div class="row gallery_grid-more project-grids w3ls" style="    margin-top: -72px;
    ">
      <div class="col-md-3 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
         <div class="w3_agile_gallery_effect">
            <a href="images/wp1.png" data-lightbox="example-set" data-title="sssss">
               <figure id="pic">
                  <img src="images/wp1.png" alt=" " class="img-responsive pic-border" /> 
               </figure>
            </a>

         </div>
      </div>
     
      <div class="col-md-6 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
         <div class="w3_agile_gallery_effect">
            <a href="images/wp3.png" data-lightbox="example-set" data-title="sssss">
               <figure id="pic">
                  <img src="images/wp3.png" alt=" " class="img-responsive pic-border-big"/>
               </figure>
            </a>

         </div>
      </div>
       <div class="col-md-3 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
         <div class="w3_agile_gallery_effect">
            <a href="images/wp2.png" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
               <figure id="pic">
                  <img src="images/wp2.png" alt=" " class="img-responsive pic-border" />
               </figure>
            </a>

      </div>
      
      </div>
      </div>
      <h2 class="heading-title" id="wordpress">WORDPRESS</h2>
      <div class="row gallery_grid-more project-grids w3ls">
         <div class="col-md-3 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
            <div class="w3_agile_gallery_effect">
               <a href="images/wp4.png" data-lightbox="example-set" data-title="sssss">
                  <figure id="pic">
                     <img src="images/wp4.png" alt=" " class="img-responsive pic-border" />
                  </figure>
               </a>
   
            </div>
         </div>
        
         <div class="col-md-6 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
            <div class="w3_agile_gallery_effect">
               <a href="images/wp5.png" data-lightbox="example-set" data-title="sssss">
                  <figure id="pic">
                     <img src="images/wp5.png" alt=" " class="img-responsive pic-border-big"/>
                  </figure>
               </a>
   
            </div>
         </div>
          <div class="col-md-3 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
            <div class="w3_agile_gallery_effect">
               <a href="images/wp6.png" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                  <figure id="pic">
                     <img src="images/wp6.png" alt=" " class="img-responsive pic-border" />
                  </figure>
               </a>
   
         </div>
         
         </div>
         </div>
         <center>
            <button type="button" class="btn btn-warning">Xem Thêm</button>

         </center>

         <hr>
         

       
            <h2 class="heading-title" id="php">PHP</h2>
            <div class="row gallery_grid-more project-grids w3ls">
               <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                  <div class="w3_agile_gallery_effect">
                     <a href="images/lightbox.png" data-lightbox="example-set" data-title="sssss">
                        <figure id="pic">
                           <img src="images/g3.jpg" alt=" " class="img-responsive pic" />
                        </figure>
                     </a>
         
                  </div>
               </div>
              
               <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                  <div class="w3_agile_gallery_effect">
                     <a href="images/lightbox.png" data-lightbox="example-set" data-title="sssss">
                        <figure id="pic">
                           <img src="images/g3.jpg" alt=" " class="img-responsive pic"/>
                        </figure>
                     </a>
         
                  </div>
               </div>
                <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                  <div class="w3_agile_gallery_effect">
                     <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                        <figure id="pic">
                           <img src="images/g3.jpg" alt=" " class="img-responsive pic" />
                        </figure>
                     </a>
         
               </div>
               
               </div>
               </div>
               <center>
                  <button type="button" class="btn btn-warning">Xem Thêm</button>
      
               </center>
               <hr>
               
           
                  <h2 class="heading-title" id="nodejs">NODE JS</h2>
                  <div class="row gallery_grid-more project-grids w3ls">
                     <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                        <div class="w3_agile_gallery_effect">
                           <a href="images/node1.png" data-lightbox="example-set" data-title="sssss">
                              <figure id="pic">
                                 <img src="images/node1.png" alt=" " class="img-responsive pic-border" />
                              </figure>
                           </a>
               
                        </div>
                     </div>
                    
                     <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                        <div class="w3_agile_gallery_effect">
                           <a href="images/node3.png" data-lightbox="example-set" data-title="sssss">
                              <figure id="pic">
                                 <img src="images/node3.png" alt=" " class="img-responsive pic-border"/>
                              </figure>
                           </a>
               
                        </div>
                     </div>
                      <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                        <div class="w3_agile_gallery_effect">
                           <a href="images/node2.png" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                              <figure id="pic">
                                 <img src="images/node2.png" alt=" " class="img-responsive pic-border" />
                              </figure>
                           </a>
               
                     </div>
                     
                     </div>
                     </div>
                     <center>
                        <button type="button" class="btn btn-warning">Xem Thêm</button>
            
                     </center>
                     <hr>
                     
                   
                        <h2 class="heading-title"  id="angularjs">ANGULAR JS</h2>
                        <div class="row gallery_grid-more project-grids w3ls">
                           <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                              <div class="w3_agile_gallery_effect">
                                 <a href="images/lightbox.png" data-lightbox="example-set" data-title="sssss">
                                    <figure id="pic">
                                       <img src="images/g3.jpg" alt=" " class="img-responsive pic" />
                                    </figure>
                                 </a>
                     
                              </div>
                           </div>
                          
                           <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                              <div class="w3_agile_gallery_effect">
                                 <a href="images/lightbox.png" data-lightbox="example-set" data-title="sssss">
                                    <figure id="pic">
                                       <img src="images/g3.jpg" alt=" " class="img-responsive pic"/>
                                    </figure>
                                 </a>
                     
                              </div>
                           </div>
                            <div class="col-md-4 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
                              <div class="w3_agile_gallery_effect">
                                 <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <figure id="pic">
                                       <img src="images/g3.jpg" alt=" " class="img-responsive pic" />
                                    </figure>
                                 </a>
                     
                           </div>
                           
                           </div>
                           </div>
                           <center>
                              <button type="button" class="btn btn-warning">Xem Thêm</button>
                  
                           </center>
                           
 </div>
</div>