<div class="collapse navbar-collapse navbar" style="
margin: -25px -211px !important;
padding-right: 302px !important;
padding-top: 25px !important;
padding-bottom: 19px !important;">
    <ul class="navbar-nav ml-lg-auto text-center">
        <li class="nav-item active mr-lg-4">
            <a class="nav-link" href="index.html">Trang Chủ
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item mr-lg-4">
            <a class="nav-link scroll" href="#about">Về Tôi</a>
        </li>
        <li class="nav-item mr-lg-4">
            <a class="nav-link scroll" href="#services">Chuyên Môn</a>
        </li>
        <li class="nav-item mr-lg-4">
            <a class="nav-link scroll" href="#experience">Kinh Nghiệm</a>
        </li>
        <li class="dropdown nav-item mr-lg-4">
            <a  data-toggle="dropdown" class="nav-link dropdown-toggle" aria-expanded="true">
                My Project
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-item">
                    <a href="#php" class="nav-link scroll">PHP Language</a>
                </li>
                <li class="nav-item">
                    <a href="#nodejs" class="nav-link scroll">Nodejs</a>
                </li>
                <li class="nav-item">
                    <a href="#angularjs" class="nav-link scroll">Angularjs</a>
                </li>
                <li class="nav-item">
                    <a href="#wordpress" class="nav-link scroll">Wordpress</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link scroll" href="#contact">Liên Hệ</a>
        </li>
        <li class="nav-item">
           <a target="blank" href="https://clientsides.herokuapp.com/" style="color: blue;
           ">
            <i class="fas fa-user-plus" style="margin: 11px;
            margin-left: 34px;font-size: 18px;color:blue;"> Kết Bạn Với Tôi</i>
           </a>
        </li>
    </ul>
</div>
