<section class="services py-5" id="services">
	<div class="container py-3">
		<h3 class="heading">Services</h3>
		<div class="row service-grids">
			<div class="col-lg-4 col-md-6 agile w3-icon-grid1">
				<h3><i class="fas mr-2 fa-cogs" aria-hidden="true"></i> UI/UX Design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-md-0 mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fa mr-2 fa-mobile" aria-hidden="true"></i>Mobile Apps</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-lg-0 mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fa mr-2 fa-laptop" aria-hidden="true"></i>Web Developer</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fas mr-2 fa-camera" aria-hidden="true"></i> Photoshop</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fab mr-2 fa-accusoft" aria-hidden="true"></i>Software</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fas mr-2 fa-chart-pie" aria-hidden="true"></i>Graphic Design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
		</div>
	</div>
</section>