.pic-border{
    border-radius: 100% !important;
    border: 3px solid yellow;

}
.pic-border-big{
    border-radius: 100% !important;
    border: 3px solid yellow;
    
}
.heading-title{
    text-align: center;
    margin-top: 21px;
    margin-bottom: -62px;
}
hr{
    border: 2px solid white;
    border-radius: 3px;
}
h2{
    color: white;
}
.pic{
    border-radius: 10%;
    border: 3px solid yellow;
}
.btn-warning{
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 161px;
    font-size: 20px;
    margin: 20px;
}