.pic-border{
    border-radius: 100% !important;
    border: 3px solid yellow;

}
.pic-border-big{
    border-radius: 100% !important;
    border: 3px solid yellow;
    
}
.heading-title{
    text-align: center;
    margin-top: 21px;
    margin-bottom: -62px;
}
hr{
    border: 2px solid white;
    border-radius: 3px;
}
h2{
    color: white;
}
.pic{
    border-radius: 10%;
    border: 3px solid yellow;
}
.btn-warning{
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 161px;
    font-size: 20px;
    margin: 20px;
}
input, textarea{
    outline: none;
    width: 83%;
    padding: .9em 1em;
    font-size: 15px;
    letter-spacing: 1px;
    color: #888;
    border: none;
    border: 1px solid #777;
    background: none;
    margin-bottom: 1.5em;
    width: 576px;
    border-radius: 10px;
    margin-left: 167px;
    margin-top: -9px;
}
label{
    width: 27%;
    float: left;
    color: #333;
    font-weight: 600;
}